html {
    /* background-color: darkgreen; */
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: blue;
}

h1 {
    text-align: center;
    margin-bottom: 0px;
}

#gameBoard {
    display: flex;
}

.playerBoard {
    width: 50%;
    text-align: center;
}

.buttons {
    display: block;
}

.pic1, .pic2 {
    display: block;
    margin: auto;
    max-width: 250px;
    max-height: 250px;
}